@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
}

a {
  text-decoration: none;
  color: $color-text-base;
  font-weight: $font-weight-500;
  transition: $transition-link;
  width: max-content;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  transition: $transition-button;
}