header {
  position: stickt;
  top: 0;
  background-color: var(--background-color);
}

.nav {
  font-family: "Poppins", sans-serif;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}

.container {
  display: flex;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.logo img {
  width: 185px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 80px;
}


.nav-icons {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-icons li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-icons li a img {
  width: 23px;
  height: max-content;
}

#userMenu {
  display: none;
}
