.baner {
  background-image: url(/asetss/Image/Photo/scandinavian-interior-mockup-wall-decal-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 794px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center
}

.hero-content {
  background-color: var(--Primary-w);
  width: 500px;
  height: max-content;
  padding: 41px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 10rem;
}