* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper form {
  width: 60%;
  height: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}


.logo-site {
  display: flex;
  justify-content: center;

}

.logo-site img {
  width: 80px;

}

.logo-site a {
  width: max-content;
}


.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 100%;
  pointer-events: none;
  transition: all 0.15s ease;
  color: var(--Black);
}

.input-field input {
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  background: var(--transparent);
  border: 1px solid var(--border-input);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
}

.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 16px;
  top: 1px;
  background-color: var(--background-color);
  color: var(--Black);
  padding: 0 5px 0 5px;
  transform: translateY(-50%);
  transition: all 0.15s ease;
}

.input-field input:focus {
  background: none;
  transition: 0.1s ease;
  outline: none;
}

input[type="checkbox"] {
  accent-color: var(--Primary);
}


.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.forget a,
.register a {
  color: var(--Black);
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.btn-in {
  font-size: var(--body2-size);
}

.register {
  text-align: center;
}

.img {
  width: 50%;
  height: 100vh;
  background-image: url(/asetss/Image/Photo/word-image-17-1536x1125.png);
  background-size: cover;
  background-position: center;
}