.Message-boxs {
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.Message-box {
  display: flex;
  position: relative;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
  width: 350px;
  min-height: 60px;
  overflow: hidden;
  pointer-events: auto;
  transform: translateX(-400px);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.Message-box.show {
  transform: translateX(0);
  opacity: 1;
}

.Message-box.hide {
  transform: translateX(-400px);
  opacity: 0;
}



.Message-box.error {
  background-color: var(--accent-color);
}

.Message-box.success {
  background-color: var(--true-color);
}

.Message-box.info {
  background-color: var(--Primary-w);
}

.message-text {
  width: 100%;
}

.message-text p {
  color: var(--white-color);
  padding: 10px;
  width: 85%;
}

.bar {
  height: 4px;
  background-color: var(--background-color);
  width: 100%;
  position: absolute;
  bottom: 0;
}


.close-message {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  color: white;
  pointer-events: auto;
  background-color: rgba(255, 255, 255, 0.34);
}