@use "../abstracts/variables" as *;

.Shimmer-effect {
  position: relative;
  overflow: hidden;
  border-radius: $radius-sm;
  background-color: #c5c5c5;

  &::after {
    content: "";
    position: absolute;
    transform: translateY(-100%) rotate(45deg);
    top: 0;
    left: 50%;
    width: 1px;
    height: 150%;
    background-color: #fff;
    box-shadow: 0 0 50px 35px #fff;
    animation: Shimmer-animation 3s ease infinite;
  }
}

@keyframes Shimmer-animation {
  0% {
    transform: translateY(-100%) rotate(45deg);
  }

  100% {
    transform: translateY(150%) rotate(45deg);
  }
}