<nav class="nav">
  <div class="container">
    <div class="logo">
      <img src="/asetss/Image/icon/Furniro2.svg" alt="Furniro Logo">
    </div>
    <ul class="nav-links">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/asetss/page/shop.html">Shop</a></li>
      <li><a href="/asetss/page/about.html">About</a></li>
      <li><a href="/asetss/page/contact.html">Contact</a></li>
    </ul>
    <ul class="nav-icons">
      <li>
        <a href="/asetss/page/login.html">
          <button class="button-s Dark-hollow-button" id="loginBtn">
            login
          </button>
        </a>
        <img id="userMenu" src="/asetss/Image/icon/user.svg" alt="">
      </li>
      <li><img src="/asetss/Image/icon/Search.svg" alt=""></li>
      <li><img src="/asetss/Image/icon/Like.svg" alt=""></li>
      <li><img src="/asetss/Image/icon/Shopping cart.svg" alt=""></li>
    </ul>
  </div>
</nav>