<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="/index.html">
        <img src="/assets/Image/icon/Furniro2.svg" alt="Furniro Logo">
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="/index.html">Home</a></li>
      <li><a href="/assets/page/shop.html">Shop</a></li>
      <li><a href="/assets/page/about.html">About</a></li>
      <li><a href="/assets/page/contact.html">Contact</a></li>
    </ul>
    <ul class="nav-icons">
      <li id="searchIcon"><a href="#"><img id="likeIcon" src="/assets/Image/icon/Search.svg" alt=""></a></li>
      <!-- <li id="searchIcon">
        <i class="fa-brands fa-magnifying-glass"></i>
      </li> -->
      <li>
        <a href=" #">
          <img id="likeIcon" src="/assets/Image/icon/Like.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img id="shoppingCartIcon" src="/assets/Image/icon/Shopping cart.svg" alt="">
        </a>
      </li>
      <li>
        <a href="/assets/page/login.html">
          <button class="button-s Dark-hollow-button" id="loginBtn">
            login
          </button>
        </a>
        <img id="userMenu" src="/assets/Image/icon/user.svg" alt="">
      </li>
    </ul>
  </div>
  <dialog id="searchForm" class="search-modal">
    <button type="button" id="searchDialogClose" class="search-modal-close-outside icon-btn icon-btn--circle">
      <img class="icon-btn__img" src="https://www.svgrepo.com/show/522506/close.svg" alt="" aria-hidden="true">
      <span class="sr-only">Close</span>
    </button>
    <div class="search-modal-panel">
      <form action="" id="searchInputForm" class="search-form">
        <div class="search-form-field">
          <input type="text" id="searchInput" required>
          <label for="searchInput">Search for your product ...</label>
        </div>
        <button type="submit" id="searchBtn" class="button-Xl Color-button search-action-btn">serch</button>
      </form>
      <div id="searchResults" class="search-results"></div>
    </div>
  </dialog>
</nav>