@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/function" as f;

.our-products {
  padding-top: 3rem;
  padding-bottom: 4rem;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  &__show-more {
    width: 245px;
  }
}

.products-grid {
  max-width: 1236px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-card {
  position: relative;
  background-color: v.$card-background-color;
  overflow: hidden;
  height: 500px;

  &__link {
    position: absolute;
    inset: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
  }


  &__media {
    position: relative;
    height: 70%;
    ;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__badge {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    min-width: f.to-rem(48px);
    height: f.to-rem(48px);
    border-radius: v.$radius-full;
    @include m.flex-content(null, center, center, inline-flex);
    padding: 0 0.5rem;
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-500;
    color: v.$color-white;

    &--discount {
      background-color: v.$badge-discount-bg;
    }

    &--new {
      background-color: v.$badge-new-bg;
    }
  }

  &__info {
    padding: 1rem 1rem 1.25rem;
    @include m.flex-content(column);
    height: 32%;
    justify-content: space-between;
  }

  &__name {
    font-size: v.$font-size-xl;
    font-weight: v.$font-weight-600;
    line-height: 1.2;
    color: v.$color-text-primary;
  }

  &__desc {
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-500;
    line-height: 1.5;
    color: #898989;
  }

  &__price-row {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
  }

  &__price {
    font-size: v.$font-size-xl;
    font-weight: v.$font-weight-600;
    color: #3a3a3a;
  }

  &__old-price {
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-400;
    color: #b0b0b0;
    text-decoration: line-through;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(67, 67, 67, 0.573);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    opacity: 0;
    transition: opacity 0.25s ease;
    z-index: 3;
    pointer-events: none;

    & button {
      position: relative;
      pointer-events: auto;
    }
  }

  &:hover &__overlay,
  &:focus-within &__overlay {
    opacity: 1;
  }

  &__add-btn {
    min-width: 202px;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  &__meta-item {
    border: none;
    background: transparent;
    color: v.$color-white;
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-600;
  }
}

@media (max-width: 768px) {
  .product-card__overlay {
    display: none;
  }
}

// @media (max-width: 1200px) {
//   .products-grid {
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//   }
// }

// @media (max-width: 920px) {
//   .products-grid { 
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//   }
// }

// @media (max-width: 620px) {
//   .products-grid {
//     grid-template-columns: 1fr;
//   }

//   .product-card__media {
//     height: 280px;
//   }
// }